/*
@font-face {
	font-family: Gilroy;
	font-weight: 400;
	src: url("../fonts/GilroyRegular.otf") format("opentype");
}

@font-face {
	font-family: Gilroy;
	font-weight: 500;
	src: url("../fonts/GilroyMedium.otf") format("opentype");
}
*/
@font-face {
	font-family: Gilroy;
	font-weight: 600;
	src: url("../fonts/GilroySemiBold.otf") format("opentype");
}
/*
@font-face {
	font-family: Gilroy;
	font-weight: 700;
	src: url("../fonts/GilroyBold.otf") format("opentype");
}
*/
@font-face {
	font-family: Gilroy;
	font-weight: 800;
	src: url("../fonts/GilroyExtraBold.otf") format("opentype");
}

@font-face {
	font-family: 'RaketaNumbers';
	src: url('../fonts/RaketaNumbers.eot');
	src: url('../fonts/RaketaNumbers.eot?#iefix') format('embedded-opentype'),
		url('../fonts/RaketaNumbers.woff') format('woff'),
		url('../fonts/RaketaNumbers.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
