section, header, footer {
	display: block;
}

html, body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #F3F3F3;
	color: #2c2c39;
	height: 100%;
	width: 100%;
}

body { font: 62.5%/1.3 'Gilroy', serif, sans-serif; cursor: default; overflow-x: hidden; font-weight: 600; min-height: 100%;}

* { -webkit-text-size-adjust: none; box-sizing: border-box; }

a { color: #000; text-decoration: none; -webkit-transition: all 0.1s; -o-transition: all 0.1s; transition: all 0.1s; }
a:hover { }

strong {font-weight: 800}

input { font-size: 1.6em; padding: 0 15px; border-radius: 3px; border: 1px solid #ccc; line-height: 3.5em; }
textarea { font-size: 1.6em; padding: 15px; border-radius: 3px; border: 1px solid #ccc; }
button { background: #fb2d46; border: 1px solid #fb2d46; color: #fff; font-size: 1.6em; line-height: 3.5em; padding: 0 3em; outline: none}
button:hover { opacity: .8}
button.cancel {background: transparent; border-color: transparent; color: #000; font-weight: 800}

.select-style.short,
input.short {width: 150px!important; min-width: initial;}

h1, h2, h3, h4, h5 { font-weight: 600; margin-bottom: 2em; padding-right: 10px}
h1 {font-size: 3em; font-weight: 800}
h2 {font-size: 2.6em; font-weight: 800}
h2.large {font-size: 3.6em; font-weight: 600; margin-bottom: 1em; }
h3 {font-size: 2.2em}
h4 {font-size: 1.8em}
h5 {font-size: 1.4em; font-weight: 800}

.right {float: right;}
.left {float: left;}
.buttons {clear: both; padding: 20px 0}

.delimiter {margin: 0 5px; font-size: 1.6em}



.l-header { position: fixed; width: 100%; z-index: 999; left: 0; top: 0; background: #2C2C39; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0);}
.l-header:after { content:""; display: block; clear: both; }

.topmenu { font-family: 'Gilroy'; font-weight: 600; font-size: 1.8em; text-align: center; min-height: 50px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}
.topmenu li { display: inline-block; vertical-align: middle; height: 50px}
.topmenu a { display: block; color: #fff; height: 50px; line-height: 50px; margin: 0 28px; }
.topmenu > li > a:hover { color: #fb2d46; }
.topmenu ul { position: absolute; background: #2c2c39; width: 100%; left: 0;}
.topmenu ul a { margin: 0; padding: 0 20px; }
.topmenu ul a:hover { background: rgba(255,255,255,0.1); }
.topmenu ul a.active { background: rgba(255,255,255,0.3); color: #fff; }
.topmenu li.selected { border-bottom: 5px solid rgba(255,255,255,.5) }
.topmenu li.selected a { color: #fb2d46 }

.l-nav .phone { margin-left: 28px; padding-left: 28px; position: relative; }
.l-nav .phone:before { content:""; display: block; background: #fff; position: absolute; left: 0; top: 50%; height: 20px; margin-top: -10px; width: 2px; }

.l-nav .userlogin {float: right}
.l-nav .userlogin a:hover svg * {fill: #fb2d46}
.l-nav .userlogin a > span {display: inline-block; max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle; }
.l-nav .userlogin a > svg {height: 50px; width: 19px; margin-left: 10px; float: right; }
.l-nav .userlogin a > svg * {fill: #fff}

.l-header .logo { float: left; }
.l-header .logo > a { display: block; position: relative; height: 50px; width: 153px; }
.l-header .logo > a > svg { display: block; position: absolute; margin: auto; top: 0; left: 0; bottom: 0; right: 0; }


.l-header .aside { float: right; }
.l-header .aside .userlogin { display: block; width: 50px; height: 50px; margin: 0; position: relative; font-weight: 600; }
// .l-header .aside .userlogin:hover:before,
.l-header .aside .userlogin span { display: block; font-size: 1.8em; position: absolute; right: 50px; height: 50px; line-height: 50px; width: 150px; overflow: hidden; text-overflow: ellipsis; text-align: right;}
.l-header .aside .userlogin:hover span { color: #fb2d46; }

.l-header .aside .userlogin .svg { position: absolute; top: 0; bottom: 0; right: 15px; margin: auto; width:  19px; height: 19px; }
.l-header .aside .userlogin span,
.l-header .aside .userlogin .svg * { color: #fff; fill: #fff; -webkit-transition: all 0.1s; -o-transition: all 0.1s; transition: all 0.1s; }
// .l-header .aside .userlogin:hover span { display: none }
// .l-header .aside .userlogin:hover:before { color: #fb2d46; content: "Выйти";  }
.l-header .aside .userlogin:hover span,
.l-header .aside .userlogin:hover .svg * { color: #fb2d46; fill: #fb2d46; }

.l-header .aside .mobile-menu {display: none; }


.l-footer { background: #2c2c39; font-weight: 600; height: 380px;}
.l-footer > .wrap { padding: 80px 50px 50px; }
.l-footer .copy { text-align: center; color: rgba(255,255,255,0.3); font-size: 24px; font-weight: 700; }
.l-footer .logo { margin: 3rem 0 0; }
.l-footer .logo .svg { width: 250px; display: block; margin: 0 auto; }
.l-footer .logo .svg * { fill: rgba(255,255,255,0.3); }

.main { max-width: 1380px; margin:0 auto; padding: 120px 50px 100px; margin-bottom: -380px}
.main:after {height: 380px; content: ""; display: block; }
.main section > header {padding: 0px 0 30px;}
.main section > header:after { content: ""; display: table; clear: both; }
.main section > header > .select-style {float: right}




/* Расписание */
/* ---------------------------------------------------------------------------- */

.schedule > header label {font-size: 1.6em; line-height: 3.5em; vertical-align: middle;}

.schedule > .wrap {background: #fff; padding: 20px; position: relative; margin-bottom: 100px}
.schedule > .wrap .popup {position: absolute; background: #fff; left: 213px; top: 97px; right: 20px; bottom: 20px; min-height: 200px; z-index: 99}
.schedule > .wrap .popup.opened {display: block!important}
.schedule > .wrap .popup > .wrap {position: absolute; top: 0; width: 100%; bottom:0; left: 0; right: 0; overflow: auto; padding: 50px 20px 50px 50px}
.schedule > .wrap .popup > .wrap header > h3 {margin: 0; }
.schedule > .wrap .popup .buttons {padding-bottom: 0; }


.sticky-head {position: fixed; max-width: 1340px; margin: 0 auto; padding: 0 50px; left: 0; right: 0; z-index: 100; top: 50px; display: none}

.schedule > .wrap > table {font-size: 1.4em; table-layout: fixed; width: 100%;}

.schedule > .wrap > table td,
.schedule > .wrap > table th {padding: 5px;}
.schedule > .wrap > table th {border: 1px solid #ddd; border-width: 1px 0; text-align: center; width: 150px; vertical-align: middle;}

.schedule > .wrap > table td:nth-child(n+4) {border: 1px solid #ddd; width: 13%; font-weight: 500}
.schedule > .wrap > table td:nth-child(2) {border-right: 3px solid #ccc; width: 30px}
.schedule > .wrap > table td:nth-child(3) {border-right: 0; width: 5px}
.schedule > .wrap > table td:nth-child(4) {border-left: 0;}

.schedule > .wrap > table thead .caption-short,
.schedule > .wrap > table thead .caption-full {display: block; font-size: 1.1em; font-weight: 800}
.schedule > .wrap > table thead .caption-short {display: none; }
.schedule > .wrap > table thead td,
.schedule > .wrap > table thead th {background: #fff; border-top-color: #fff!important; padding-bottom: 15px; padding-top: 20px}

.schedule > .wrap > table thead th,
.schedule > .wrap > table thead td:nth-child(n+4) {border-bottom: 3px solid #2C2C39!important}

.schedule > .wrap > table tbody tr.selected th,
.schedule > .wrap > table tbody tr.selected td:nth-child(2),
.schedule > .wrap > table thead td.selected {background: #3DFBDD}
.schedule > .wrap > table tbody tr.selected td:nth-child(2) {border-bottom: 1px solid #ddd}
.schedule > .wrap > table tbody td {position: relative;}

.schedule > .wrap > table tbody td:nth-child(n+4):hover {background:#ECFF26; cursor: pointer;}
.schedule > .wrap > table td:last-child {border-right-color: #fff}


/* Записанный пользователь */
.schedule > .wrap > table tbody td .text {display: block; max-width:140px; overflow: hidden; text-overflow: ellipsis; max-height: 20px; white-space: nowrap;}
.schedule > .wrap > table tbody td[rowspan="2"] .text {max-height: 90px;}
.schedule > .wrap > table tbody td .text.highlight:before {content: ""; position:absolute; display:block; top:0; left:0; right:0; bottom:0; border:3px solid red}

.schedule > .wrap > table tbody td .text .member {white-space: nowrap;}
.schedule > .wrap > table tbody td:hover .group {position: absolute; top: 0; left: 0; height: auto; max-height: initial; max-width: initial; padding: 5px; background: #ECFF26; z-index: 1}
.schedule > .wrap > table tbody td:hover .group .member {white-space: pre-wrap;}
.schedule > .wrap > table tbody td:hover .striped {border-color: #ECFF26!important}
.schedule > .wrap > table tbody td .text .member:after {content: ", "}
.schedule > .wrap > table tbody td .text .member:last-child:after {content: none}
.schedule > .wrap > table tbody td .text.name {font-weight: 800}

/* Маркировка */
.schedule > .wrap > table tbody td .striped { display:block; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background-image: url(stripe_000000.png); }
.schedule > .wrap > table tbody td .striped.higlight { background-image: url(stripe_fb2d46.png); }
.schedule > .wrap > table tbody td .striped.light { background-image: url(stripe_c2c2c2.png); }

.schedule > .wrap > table tbody td.disabled,
.schedule > .wrap > table tbody td.disabled:hover { background: #F3F3F3; cursor: default; }

/*  */

/* red — fb2d46 */
/* yellow - ECFF26 */
/* cyan - 41F0D3 */


.schedule > .wrap > table tbody td,
.schedule > .wrap > table tbody th {height: 50px; max-height: 50px}

.schedule > .wrap > table tbody tr:last-child td,
.schedule > .wrap > table tbody tr:last-child th {border-bottom-color: #fff}

.schedule > .wrap > table .holiday {color: #FB2D46}





/* Страница пользователя */
/* ---------------------------------------------------------------------------- */

.user-page {}
.user-page > .wrap {padding-bottom: 60px}
.user-page header { margin-bottom: 30px }
.user-page header h1 { margin: 0 }
.user-page header:after { content: ""; display: table; clear: both; }
.user-page header .balance { overflow: hidden; padding-top: 1em; position: relative; margin-left: 30px; }
.user-page header .balance-value { font-size: 3em; font-weight: 600; }
.user-page header .balance-value .title { font-size:.45em; display: block; text-align: right; }
.user-page header .balance-value .value { white-space: nowrap; }
.user-page header button.refill { margin-left: 30px }

.user-page-info { background: #fff; display: table; width: 100%; }
.user-page-info + .user-page-services { margin-top: 60px }
.user-page-info .registration-data {display: table-cell; width: 50%; padding: 60px; }
.user-page-info .registration-data .avatar { background-color: #fff; display: block; height: 100px; width: 100px; border-radius: 50px; border: 1px solid rgba(0,0,0,.3); overflow: hidden; background-size: cover; margin-bottom: 50px }
.user-page-info .registration-data .price,
.user-page-info .registration-data .club,
.user-page-info .registration-data .phone {float: left; width: 50%; margin-bottom: 30px}
.user-page-info .registration-data .email {clear: both; margin-bottom: 30px; }
.user-page-info .registration-data h4 { color: #d6d6d9; margin-bottom: .5em;}
.user-page-info .registration-data .value { font-size: 1.8em }
.user-page-info .registration-data .price .value {font-size: 3em}

.user-page-info .social-data {background: #ECFF26; display: table-cell; width: 50%; padding: 60px; vertical-align: top; }
// .user-page-info .social-data h2.large {margin-bottom: 1em}
.user-page-info .social-data .socials {margin:30px 0px 30px 0;}
.user-page-info .social-data .socials svg {margin-right: 25px; margin-bottom: 15px}
.user-page-info .social-data .socials svg:hover {opacity: .8; cursor: pointer;}
.user-page-info .social-data .socials svg * {fill: #FB2D46}

.user-page-info .social-data .input {display:block; position: relative; margin-bottom: 15px}
.user-page-info .social-data .input svg {position: absolute; margin-top: 1.8em; margin-left: 10px; width: 51px; height: 21px}
.user-page-info .social-data .input button {padding: 0 1.8em; position: absolute; right: 0}
.user-page-info .social-data .input input {padding-left: 85px; padding-right: 80px; width: 100%}

.user-page-info .social-data p {font-size: 1.8em; margin-bottom: 1em}

.user-page .logout {clear:both; font-size: 2.2em; width: 100%; margin-bottom: 60px}

.user-page-about {}
.user-page-about .wrap {margin-bottom: 60px; }
.user-page-about textarea {height: 300px; width: 100%; }
.user-page-about button {width: 100%}



.user-page-services {margin-bottom: 60px}
.user-page-services > .wrap {background: #fff; padding: 60px; }
.user-page-services > .wrap .club {overflow: hidden; margin-bottom: 10px}
.user-page-services > .wrap .club .select-style {width: 120px}
.user-page-services > .wrap .club label {margin-top: 12px}
.user-page-services > .wrap .club label,
.user-page-services > .wrap .club span {float: left}

/*
.user-page-services > .wrap table {margin: 0 auto 40px; width: 100%; }
.user-page-services > .wrap table thead td {font-size: 1.4em; padding: 1em 2em; border-bottom: 3px solid #000; }
.user-page-services > .wrap table tbody td {font-size: 1.6em; padding: 1em 2em; border-bottom: 1px solid #ccc; }
.user-page-services > .wrap table tbody tr:last-child td {border: 0}
.user-page-services > .wrap table tbody tr.selected,
.user-page-services > .wrap table tbody tr:hover {background: #ECFF26; cursor: pointer;}
*/

.user-page-services > .wrap > .buttons {text-align: center;}
.user-page-services > .wrap .edit-form {background: #ECFF26; margin: -60px; }
.user-page-services > .wrap .edit-form > .wrap {width: 50%; padding: 60px; }
.user-page-services > .wrap .edit-form > .buttons {padding: 0 60px 60px}


.service-list {display: table; margin: 0 auto 40px; width: 100%;}
.service-list > header {display: table-header-group;}
.service-list > .wrap {display: table-row-group;}
.service-list > header > .titles,
.service-list > .wrap > .service {display: table-row;}
.service-list > header > .titles > div,
.service-list > .wrap > .service > div {display: table-cell;}

.service-list > header > .titles > div:first-child,
.service-list > .wrap > .service > div:first-child {padding-left: 0;}

.service-list > header > .titles > div:last-child,
.service-list > .wrap > .service > div:last-child {padding-right: 0;}

.service-list > header > .titles > div {font-size: 1.4em; font-weight: 800; padding: 1em 2em; border-bottom: 3px solid #000;}
.service-list > .wrap > .service > div {font-size: 1.6em; padding: 1em 2em; border-bottom: 1px solid #ccc;}
.service-list > .wrap > .service.selected,
.service-list > .wrap > .service:hover {background: #ECFF26; cursor: pointer;}
.service-list > .wrap > .service:last-child > div {border: 0;}

.service-list > header > .titles .caption,
.service-list > header > .titles .club {width: 30%}
.service-list > header > .titles .type,
.service-list > header > .titles .format {width: 20%}





.club-settings > .wrap {background: #fff; padding: 60px;}
.club-settings .edit-form > .wrap {width: 50%; float: left; }
.club-settings .edit-form .price .title {font-size: 1.6em}
.club-settings .edit-form .price .title:first-child {margin-right: 10px; }
.club-settings .edit-form .count .title,
.club-settings .edit-form .price .title:last-child {margin-left: 10px; }





/* Форма редактирования тренировки / сессии / услуги */
/* ---------------------------------------------------------------------------- */

.edit-form {}
.edit-form:after { content: ""; display: table; clear: both; }
.edit-form .nl {display: block; clear: both; }
.edit-form .tabs {margin-bottom: 40px}
.edit-form .group,
.edit-form .group .price {margin-bottom: 20px}
.edit-form .group h5 {margin-bottom: .8em}
.edit-form .group input[type=text] {/*margin: 12px 0;*/ width: 100%}
.edit-form .group input.date,
.edit-form .group input[type=date] {/*margin: 12px 0;*/ width: 200px}
// .edit-form .group .select-style {margin: 12px 0}
.edit-form .group label {line-height: 3.5em; vertical-align: middle; white-space: nowrap;}
.edit-form .group label>span {font-size: 1.6em; }
.edit-form .group label>input[type=radio]+span:before,
.edit-form .group label>input[type=checkbox]+span:before {margin-left: 0;}
.edit-form .group label>input[type=radio]+span,
.edit-form .group label>input[type=checkbox]+span {margin-right: 20px}





/* Форма просмотра / сессии / услуги */
/* ---------------------------------------------------------------------------- */
.view-form {}
.view-form > header {padding-bottom: 40px!important}
.view-form h4 {margin-bottom: 2ex}
.view-form .group {position: relative; float: left;}
.view-form .group p {font-size: 1.6em; margin-bottom: 1ex}
.view-form .group .price {font-size: 3em;}
.view-form .avatar {float: left; border: 1px solid rgba(0,0,0,.3); background-color: #fff; height: 100px; width: 100px; background-size: cover; border-radius: 50px; margin-right: 60px}
.view-form .buttons {padding-top: 40px}






/* Уведомления */
/* ---------------------------------------------------------------------------- */

.notifications {margin-bottom: 40px}
.notifications .buttons {padding-bottom: 0; }
.notification .wrap {padding: 40px 60px; text-align: center; position: relative;}
.notification h4 {font-weight: 800; margin-bottom: 1em}

.notification.client {}
.notification.client .avatar {position: absolute; left: 60px; top: 50%; margin-top: -50px; background-color: #fff; height: 100px; width: 100px; background-size: cover; border-radius: 50px;}
.notification.client button {position: absolute; right: 60px; top: 50%; margin-top: -1.7em; }
.notification.client .name {font-size: 1.8em; font-weight: 600}
.notification.client .phone {font-family: Shentox; font-size: 4em; font-weight: 400}

.notification.training {}
.notification.training .avatar {position: absolute; left: 60px; top: 50%; margin-top: -50px; background-color: #fff; height: 100px; width: 100px; background-size: cover; border-radius: 50px;}
.notification.training .name {margin: 0 280px; font-size: 1.6em}
.notification.training .datetime {position: absolute; right: 60px; top: 50%; margin-top: -3em; }
.notification.training .datetime .date {font-family: Shentox; font-size: 4em; font-weight: 400}
.notification.training .datetime .day {display: block; font-weight: 600; font-size: 1.6em }





/* Список пользователей */
/* ---------------------------------------------------------------------------- */

.user-list {}
.user-list .wrap {background: #fff; padding: 30px 30px 0; margin-bottom: 30px}
.user-list .wrap ul {list-style: none; overflow: hidden; }
.user-list .wrap ul + h3 {margin-top: 2em}
.user-list .wrap ul li {display: block; cursor: pointer; float: left; min-height: 80px; width: 320px; position: relative; margin-bottom: 40px}
.user-list .user .avatar {background-color: #fff; display: block; height: 80px; width: 80px; border-radius: 40px; border: 1px solid rgba(0,0,0,.3); position: absolute; overflow: hidden; background-size: cover;}
.user-list.selectable .user .avatar:before {
	content: "";
	display: block;
	opacity: 0;
	background:#3DFBDD url(chb.png) 50% no-repeat;
	background-size: 50%;
	height: 80px;
	width: 80px;
}
.user-list.selectable .wrap ul li:hover .avatar:before,
.user-list.selectable .wrap ul li.selected .avatar:before {opacity: .9}

.user-list .user .name { display: block; margin-left: 100px; margin-top: 20px; height: 100%; font-size: 1.4em; font-weight: 600;}












/* Общие компоненты */
/* ---------------------------------------------------------------------------- */




.tabs:after { content: ""; display: table; clear: both; }
.tabs a {font-size: 1.6em; line-height: 3.5em; display: block; font-weight: 500; padding: 0 28px; float: left}
.tabs a:hover {color: #fb2d46}
.tabs a.selected {background: #fb2d46; color: #fff; font-weight: 800;}




label > span {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
label > input[type="checkbox"] {display: none}
label > input[type="checkbox"]+span:before,
label > input[type="checkbox"]+span:after {content: ""; display: inline-block; height: 1.5em; width: 1.5em; background: #fff; margin: 0 .5em -.4em; border: 1px solid #ccc; border-radius: 3px}
label > input[type="checkbox"]:checked+span:before,
label > input[type="checkbox"]:checked+span:after {background-image: url(chb.png); background-size: 80%; background-position: 50%; background-repeat: no-repeat;}

label > input[type="checkbox"]+span:after {content: none}
label.right > input[type="checkbox"]+span:after {content: ""; margin-right: 0}
label.right > input[type="checkbox"]+span:before {content: none}



label > input[type="radio"] {display: none}
label > input[type="radio"]+span:before,
label > input[type="radio"]+span:after {content: ""; display: inline-block; height: 1.5em; width: 1.5em; background: #fff; margin: 0 .5em -.4em; border: 1px solid #ccc; border-radius: 2em}
label > input[type="radio"]:checked+span:before,
label > input[type="radio"]:checked+span:after {background-image: url(radio.png); background-size: 80%; background-position: 50%; background-repeat: no-repeat;}

label > input[type="radio"]+span:after {content: none}
label.right > input[type="radio"]+span:after {content: ""; margin-right: 0}
label.right > input[type="radio"]+span:before {content: none}







.select-style { vertical-align: middle; display: inline-block; padding: 10px 0; margin: 0; border: 1px solid #ccc; min-width: 300px; border-radius: 3px; overflow: hidden; position: relative; background-color: #fff;}
.select-style:after { position: absolute; content: ""; height: 15px; width: 20px; right: 10px; top: 50%; margin-top: -7px; background: #fff url("arrowdown.gif") no-repeat 50%; }
.select-style select { padding: 5px 8px; font-size: 1.6em; width: 130%; border: none; box-shadow: none; background: transparent; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.select-style select:focus { outline: none; }
.select-style select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }





.ui-datepicker {font-size: 1.6em}





@media screen and (max-width: 1380px) {
	.sticky-head { margin: 0 50px; padding: 0px 20px; }
}

@media screen and (max-width: 1200px) {
	body {font-size: 55%}
	
	button {padding: 0 1.2em; }

	.main {padding: 80px 30px 70px}
	.topmenu a {margin: 0 14px}

	.schedule > .wrap > table th {width: 100px; }
	.schedule > .wrap > table td:nth-child(2) {width: 20px}
	.sticky-head { padding: 0; }
	.schedule>.wrap .popup {top: 92px; left: 153px; }

	.user-list .wrap ul li {width: 270px}

	.tabs a {padding: 0 14px; }

	.select-style.short, input.short {width: 100px!important}

	.notification.training .name {margin: 0 220px; }
}

@media screen and (max-width: 1000px) {
	.l-nav .phone {display: none}
	.select-style.short, input.short {width: 80px!important}

	.user-page-services > .wrap .edit-form > .wrap,
	.user-page-info .registration-data,
	.user-page-info .social-data,
	.user-page-services > .wrap,
	.notification .wrap,
	.club-settings > .wrap {padding: 40px}

	.user-page-services > .wrap .edit-form {margin: 0 -40px -40px}

	.notification.training .avatar {left: 40px;}
	.notification.training .datetime {right: 40px;}
	
	.schedule>.wrap .popup>.wrap {padding: 40px 20px 40px 20px}
	.schedule > .wrap > table thead .caption-full {display: none}
	.schedule > .wrap > table thead .caption-short {display: block;}

	.tabs .extra {display: none}

	.sticky-head {margin: 0 50px}
}

@media screen and (max-width: 800px) {
	.main {padding: 80px 20px 30px}

	h1, h2, h3, h4, h5 { margin-bottom: 1em;}
	// h2 {padding: 0 20px}
	h2.large {padding: 0}

	.l-header {}
	.l-header .logo {float: right; }
	
	.l-header .aside .userlogin {position: absolute; }
	.l-header .aside .userlogin span {text-align: left; }
	
	.l-header .topmenu {display: none}

	.l-header .aside {float: left;}
	.l-header .aside .mobile-menu {display: block; height: 32px; width: 35px; margin-top: 8px; padding:3px; margin-left: 20px; top: 0}
	.l-header .aside .mobile-menu .menu-ico-close {display: none}
	.l-header .aside .mobile-menu > svg {height: 100%; width: 100%}


	body.mobile-menu-opened {overflow: hidden;}
	body.mobile-menu-opened .l-header {height: 100%}
	body.mobile-menu-opened .l-header .aside .userlogin span {right: auto; left: 50px}
	body.mobile-menu-opened .l-header .aside .menu-ico-close {display: initial; }
	body.mobile-menu-opened .l-header .aside .menu-ico-open {display: none; }
	body.mobile-menu-opened .l-header .topmenu {display: block; padding-top: 80px; font-size: 3em; }
	body.mobile-menu-opened .l-header .l-nav .topmenu li {display: block; float: left; clear: both; margin-left: 10px; margin-bottom: 10px}
	body.mobile-menu-opened .l-header .l-nav .topmenu li.selected {border: 0}
	body.mobile-menu-opened .l-header .l-nav .topmenu li.userlogin > a:before {content: "Настройки"}
	body.mobile-menu-opened .l-header .l-nav .topmenu li.userlogin > a > span {display: none}
	body.mobile-menu-opened .l-header .l-nav .topmenu li.userlogin > a > svg {display: none}
	body.mobile-menu-opened .l-header .l-nav .topmenu li.phone {margin-left: 10px; padding-left: 0}
	body.mobile-menu-opened .l-header .l-nav .topmenu li.phone:before {content: none!important;}
	body.mobile-menu-opened .l-header .l-nav .topmenu li a {text-align: left;}


	.view-form .avatar {margin-bottom: 20px}

	.user-page-info .registration-data,
	.user-page-info .social-data {}

	.schedule>.wrap {padding: 10px}
	.schedule>.wrap .popup {left: 93px; }
	.schedule>.wrap .popup>.wrap {padding: 20px 0px 20px 10px}
	.sticky-head {margin: 0 30px;}

	.schedule > .wrap > table th {width: 50px; }
	.schedule > .wrap > table td:nth-child(2) {width: 10px}

	.user-list > header > .select-style,
	.schedule > header > .select-style {float: left!important; margin-right: 20px; margin-bottom: 10px}


	.notifications {margin-bottom: 20px; }
	.notification .wrap {text-align: left; padding: 30px;}
	.notification .wrap .avatar {position: absolute; top: 30px; left: 30px; margin: 0; height: 80px; width: 80px}
	.notification .wrap h4,
	.notification .wrap .name,
	.notification .wrap .datetime,
	.notification .wrap .phone {position: static; margin: 0 0 1ex 110px!important; }
	.notification .wrap .phone {font-size: 2.6em}

	.notification.training .datetime .day {display: none; }

	.notification.client button {position: relative; top: auto; left: 0px; margin:0 0 0 110px}
	.notification.training .buttons {margin: 0 0 0 110px; }

	// .user-page header {padding: 0 20px; }
	.user-page header h1 { width: 100%; }
	.user-page header button.refill {margin-left: 0; }
	.user-page header .balance {float: left!important; margin-left: 0; text-align: left; }
	.user-page header .balance-value {margin-right: 30px; }
	.user-page header .balance-value .title {text-align: left; }

	.user-page-about textarea {height: 200px}

	.user-page-info .social-data,
	.user-page-info .registration-data {display: block; width: 100%; overflow: hidden;}

	.club-settings .edit-form > .wrap {width: 100%}
	.club-settings .edit-form > .wrap .group {float: left; margin-right: 30px}


	.user-page-services > .wrap {padding: 0; }
	.user-page-services > .wrap .buttons {padding-top: 0; }
	.user-page-services > .wrap .edit-form > .wrap {width: 100%}
	.user-page-services > .wrap .edit-form > .wrap:first-child {padding-bottom: 0}
	.user-page-services > .wrap .edit-form > .wrap:nth-child(2) {padding-top: 0}

	.service-list {}
	.service-list > header > .titles {display: none; }
	.service-list > .wrap > .service {display: block; border-bottom: 1px solid #ccc; padding: 20px}
	.service-list > .wrap > .service > div:first-child {font-weight: 800; }
	.service-list > .wrap > .service > div {display: block; border: 0; padding: .3em 2em }
}

@media screen and (max-width: 500px) {
	.main {padding: 80px 10px 30px}

	.sticky-head {margin: 0 20px}

	.user-page-services > .wrap .edit-form > .wrap,
	.user-page-info .registration-data,
	.user-page-info .social-data,
	.notification .wrap,
	.club-settings > .wrap {padding: 20px}

	.club-settings .edit-form .price .title:first-child {display: block; padding-bottom: .5ex}

	.user-page-services > .wrap .edit-form {margin: 0 0px 0px}

	.notification .wrap .avatar {left: 20px;}
	.notification .wrap h4,
	.notification .wrap .name,
	.notification .wrap .datetime,
	.notification.client button,
	.notification.training .buttons,
	.notification .wrap .phone {margin-left: 100px!important; }



}




